<% breadcrumb :articles %>
<% provide(:title, 'All articles') %>
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8"> 
      <div class="container">
        <div class="row">
          <!-- post -->
          <% @articles.each do |article| %>
          <div class="post col-xl-6">
            <div class="post-thumbnail">
              <%= link_to(article) do %>
                <%= image_tag(article.image_url(:blog), class: "img-fluid") if article.image? %>
              <% end %>
            </div>
            <div class="post-details">            
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last"><%= article.published_at.strftime('%d %B | %Y') %></div>
              </div>
              <%= link_to(article) do %>
                <h3 class="h4"><%= article.title %></h3>
              <% end %>
              <p class="text-muted"><%= article.description %></p>
              <footer class="post-footer d-flex align-items-center">
                <%= render "shared/author", :st => article %>
                <div class="date"><i class="icon-clock"></i><%= timeago_tag article.published_at, :nojs => true, :limit => 10.days.ago %></div>             
              </footer>
            </div>
          </div>
            <% end %>
        </div>
        <!-- Pagination -->
        <%= paginate @articles %>
      </div>
    </main>
    <%= render partial: "shared/sidebar" %>
  </div>
</div>
