<% breadcrumb @article %>
<% provide(:title, @article.title) %>
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8"> 
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><%= image_tag(@article.image_url, class: "img-fluid") if @article.image? %></div>
          <div class="post-details">
            <h1><%= @article.title %></h1>
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="<%= asset_path 'avatar-1.jpg' %>" alt="..." class="img-fluid"></div>
                <div class="title"><span>John Doe</span></div></a>
              <div class="d-flex align-items-center flex-wrap">       
                <div class="date"><i class="icon-clock"></i><%= timeago_tag @article.published_at, :nojs => true, :limit => 10.days.ago %></div>
              </div>
            </div>
            <div class="post-body">
            <%= @article.body.html_safe %>
            </div>
            <div class="post-tags">
              <%= social_share_button_tag(@article.title, :url => article_url(@article), desc: @article.description) %>
            </div>
            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
              <%= link_to(@article.prev, class: "prev-post text-left d-flex align-items-center") do %>
                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                <div class="text"><strong class="text-primary">Previous Post </strong>
                  <h6><%= @article.prev.title if @article.prev %></h6>
                </div>
              <% end %>
            <%= link_to(@article.next, class: "next-post text-right d-flex align-items-center justify-content-end") do %>
                <div class="text"><strong class="text-primary">Next Post </strong>
                  <h6><%= @article.next.title if @article.next %></h6>            
                </div>
                <div class="icon next"><i class="fa fa-angle-right">   </i></div>
              <% end %>
            </div>
            <div class="post-comments">
              <%= render "shared/disqus", :post => @article %>
            </div>
          </div>
        </div>
    </main>
    <%= render partial: "shared/sidebar" %>
  </div>
</div>
