<% provide(:title, @video.title) %>
<% breadcrumb @video %>
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8"> 
      <div class="container">
        <div class="post-single">
          <div class="post-details">
            <h1><%= @video.title %></h1>
            <% if  @video.author %>
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                <div class="avatar"><%= image_tag(@video.author.avatar_url, class: "img-fluid") %></div>
                <div class="title"><span><%= @video.author.name %></span></div>
              <div class="d-flex align-items-center flex-wrap">       
                <div class="date"><i class="icon-clock"></i><%= timeago_tag @video.published_at, :nojs => true, :limit => 10.days.ago %></div>
              </div>
            </div>
            <% end %>
            <div class="post-body">
             <%= @video.body.html_safe %>
              </div>
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
            <div class='embed-container'><iframe src='https://www.youtube.com/embed/<%= @video.code %>' frameborder='0' allowfullscreen></iframe></div>  
            <div class="post-tags">
              <%= social_share_button_tag(@video.title, :url => video_url(@video), desc: @video.description) %>
            </div>       
            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
              <%= link_to(@video.prev, class: "prev-post text-left d-flex align-items-center") do %>
                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                <div class="text"><strong class="text-primary">Previous Post </strong>
                  <h6><%= @video.prev.title if @video.prev %></h6>
                </div>
              <% end %>
            <%= link_to(@video.next, class: "next-post text-right d-flex align-items-center justify-content-end") do %>
                <div class="text"><strong class="text-primary">Next Post </strong>
                  <h6><%= @video.next.title if @video.next %></h6>            
                </div>
                <div class="icon next"><i class="fa fa-angle-right">   </i></div>
              <% end %>
            </div>
            <div class="post-comments">
              <%= render "shared/disqus", :post => @video %>
            </div>
          </div>
        </div>
    </main>
    <%= render partial: "shared/sidebar" %>
  </div>
</div>