<!-- Widget [Latest Posts Widget]        -->
<div class="widget latest-posts">
  <header>
    <h3 class="h6"><%= t('menu.latest_article') %></h3>
  </header>
  <div class="blog-posts">
    <% @last_articles.each do |story| %>
      <%= link_to(story) do %>
        <div class="item d-flex align-items-center">
          <div class="image">
            <%= image_tag(story.image_url(:preview), class: "img-fluid") if story.image? %>
          </div>  
          <div class="title"><strong><%= story.title %></strong>
            <div class="d-flex align-items-center">
              <div class="comments"><i class="icon-clock"></i> <%= story.published_at.strftime('%d.%m.%Y') %></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>