<header id="header" class="fixed-top header">
  <!-- Main Navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="search-area">
      <div class="search-area-inner d-flex align-items-center justify-content-center">
        <div class="close-btn"><i class="icon-close"></i></div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <%= form_tag results_path, method: :get, role: 'search' do %>
              <div class="form-group">
                <%= text_field_tag :query, params[:query], id: "search" %>
                <button type="submit" class="submit"><i class="icon-search-1"></i></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Navbar Brand -->
      <div class="navbar-header d-flex align-items-center justify-content-between">
            <div class="logo-wrapper">
              <%= link_to(root_path) do %>
                <%= image_tag('hand_logo.png', class: "img-fluid", alt: "For parents of transgender people") %>
              <% end %>
            </div>
        <%#= link_to "For parents", root_path, class: "navbar-brand" %>
        <!-- Toggle Button-->
        <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
      </div>
      <!-- Navbar Menu -->
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to t('menu.home'), root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('menu.article'), articles_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('menu.story'), stories_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('menu.video'), videos_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('menu.contact'), new_contact_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= render partial: "shared/nav_links_for_auth" %> 
            </div>
          </li>
        </ul>
        <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
        <ul class="langs navbar-text">
        <%= link_to "EN", locale: :en %>
        <%# <a href="#" class="active">EN</a> %>
        <span>           </span>
        <%= link_to "UA", locale: :uk %>
        <span>           </span>
        <%= link_to "RU", locale: :ru %>
        </ul>
      </div>
    </div>
  </nav>
</header>