  <!-- icon boxes-->
  <section class="section icon-boxes">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- #####Begin iconbox v4-->
          <div class="icon-box ib-v4"><i class="fa fa-transgender-alt fa-4x" aria-hidden="true"></i>
            <h6 class="title with-shaded-label"><span class="shaded-label text-uppercase">Who</span>Who we are?</h6>
            <p><%= t('front.who_we') %></p>
          </div>
          <!-- #####End iconbox v4-->
        </div>
        <div class="col-md-4">
          <!-- #####Begin iconbox v4-->
          <div class="icon-box ib-v4"><i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
            <h6 class="title with-shaded-label"><span class="shaded-label text-uppercase">What</span>What we do?</h6>
            <p><%= t('front.what_we') %></p>
          </div>
          <!-- #####End iconbox v4-->
        </div>
        <div class="col-md-4">
          <!-- #####Begin iconbox v4-->
          <div class="icon-box ib-v4"><i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
            <h6 class="title with-shaded-label"><span class="shaded-label text-uppercase">How</span>What is our goal?</h6>
            <p><%= t('front.how_to') %></p>
          </div>
          <!-- #####End iconbox v4-->
        </div>
      </div>
    </div>
  </section>
  <!-- Intro Section-->
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h1 class="h3"><%= t('front.title_site') %></h1>
          <p class="text-big">
          <strong>Ваш ребенок открылся что является трансгендерным человеком?</strong> 
          Да, это может быть очень сложно понять и принять, но чаще всего непонимание рождается из страха за своего ребенка и недостатка информации.
           Когда ребенок, которого вы воспитывали, любили, который был абсолютно Нормальным! вдруг говорит, что он — кто-то совершенно другой... 
           Виноваты ли в этом вы или современное общество? Что с этим делать? Как реагировать, можно ли это как-то вылечить? Море вопросов и непонимание — как такое возможно? 
        </div>
      </div>
    </div>
  </section>
  <section class="featured-posts no-padding-top">
    <div class="container">
      <% @last_articles.each do |story| %>
        <% if cycle('odd', 'even') == 'odd' %>
        <div class="row d-flex align-items-stretch">
          <%= render "shared/main_posts_section", :post => story %>
          <div class="image col-lg-5">
            <%= image_tag(story.image_url, class: "img-fluid") if story.image? %>
          </div>
        </div>
        <% else %> 
         <div class="row d-flex align-items-stretch">
          <div class="image col-lg-5">
            <%= image_tag(story.image_url, class: "img-fluid") if story.image? %>
          </div>
          <%= render "shared/main_posts_section", :post => story %> 
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
  <!-- Divider Section-->
  <section style="background: url(<%= asset_path 'divider-bg.jpg' %>); background-size: cover; background-position: center top" class="divider">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h2><%= t('front.desc_video') %></h2>
           <%= link_to t('front.view_more'), videos_path, class: "hero-link" %>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Posts -->
  <section class="latest-posts"> 
    <div class="container">
      <header> 
        <h2><%= t('front.latest_story') %></h2>
        <p class="text-big"><%= t('front.desc_story') %></p>
      </header>
      <div class="row">
      <% @last_stories.each do |story| %>
        <div class="post col-md-4">
          <div class="post-thumbnail">
            <%= link_to(story) do %>
              <%= image_tag(story.image_url(:blog), class: "img-fluid") if story.image? %>
            <% end %>
          </div>
            <div class="post-details">            
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last"><%= l story.published_at, format: :long %></div>
              </div>
              <%= link_to(story) do %>
                <h3 class="h4"><%= story.title %></h3>
              <% end %>
              <p class="text-muted"><%= story.description %></p>
            </div>
        </div>
      <% end %>
      </div>
    </div>
  </section>

