<div class="container">
    <div class="authform">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal", :role => 'form'}) do |f| %>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Welcome Back! Please Sign In</h2>
                    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                     <hr class="colorgraph"><br>
                    <%= devise_error_messages! %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="email">E-Mail Address</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: "you@example.com" %>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle"> 
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <%= f.password_field :password, class: 'form-control', placeholder: "Password"  %>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->    
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding-top: .35rem">
                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <%= f.check_box :remember_me %>
                            <span style="padding-bottom: .15rem">Remember me</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <%= button_tag(type: "submit", class: "btn btn-success") do %>
                        <i class="fa fa-sign-in"></i> Login
                    <% end %> 
                    <%= link_to "Forgot Your Password?", new_password_path(resource_name), class: 'btn btn-link' %>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            Don't have an account? 
                            <%= link_to 'Sign Up Here', new_registration_path(resource_name), class: 'right'  %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>