<!DOCTYPE html>
<html>
  <head>
    <title>Relatives</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
